body {
    background-image: url(a5bg.png)
}

h1 {
    font-family: Helvetica;
    font-weight: normal;
    background-color: white;
    padding: 30px;
}

h2 {
    font-family: Helvetica;
    font-weight: bold;
    border-bottom: 3px solid black;
    
}

p {
    text-align: justify;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid black;
    width: 150px;
    margin: 10px;
    padding: 0px;
    color: white;
    background-color: darkblue;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav li a:hover {
    background-color: lightblue;
}

.whitebg {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    a:link {
        color: blue;
        font-weight: bold;
    }
    a:visited {
        color: blue;
    }
    a:hover {
        color: red;
        text-decoration: underline;
    }

}



a:link {
        text-decoration: none;
    }


footer {
    font-family: verdana;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: darkblue;
    border: 2px solid white;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 30px;
}